<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
</head>
<body>
<h1>Welcome to Taco...</h1>
<img th:src="@{/images/TacoCloud.jpg}"/>

 <p>Click <a th:href="@{/login}">here</a> to Login</p><br/><br/>
        
<div style="position:fixed; top:50px; right:200px">
   <form method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
   </form>
</div>
</body>
</html>